
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>

<form method="post" action="/Users/Payment">
    A key was sent to your phone,Enter here:<input type="password" name="txtKey" /><br />
    <button>Send</button>
</form>

