@{
    ViewBag.Title = "Contact";
}
@Styles.Render("~/Content/ContactPage.css")
    <div class="container">
        <div class="innerwrap">

            <section class="section1 clearfix">
                <div class="textcenter">
                    <h1>Contact Us</h1>
                    <hr>
                </div>
            </section>

            <section class="section2 clearfix">
                <div class="col2 column1 first">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28291.725960874322!2d-122.12847125416138!3d47.647676995743566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906d71b804151b%3A0x1a52969ee03899e!2sMicrosoft!5e0!3m2!1sen!2s!4v1605520927988!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col2 column2 last">
                    <div class="sec2innercont">
                        <div class="sec2addr">
                            <p>One Microsoft Way, Redmond, WA 98052, United States</p>
                            <p><span class="collig">Phone :</span> +91 425 555 0100</p>
                            <a href="#"><span class="collig">Email :</span> tranhuutu@gmail.com</a>
                            <p><span class="collig">Fax :</span> +91 9768850839</p>
                        </div>
                    </div>
                    <div class="sec2contactform">
                        <h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
                        <form action="">
                            <div class="clearfix">
                                <input class="col2 first" type="text" placeholder="FirstName">
                                <input class="col2 last" type="text" placeholder="LastName">
                            </div>
                            <div class="clearfix">
                                <input class="col2 first" type="Email" placeholder="Email">
                                <input class="col2 last" type="text" placeholder="Contact Number">
                            </div>
                            <div class="clearfix">
                                <textarea name="textarea" id="" cols="30" rows="7">Your message here...</textarea>
                            </div>
                            <div class="clearfix"><input type="submit" value="Send"></div>
                        </form>
                    </div>

                </div>
            </section>

        </div>
    </div>
